
<FlexBoxLayout class="wrapper" flexDirection="column" justifyContent="flex-end">
  <ListView [items]="messages" class="list-messages" separatorColor="#00FFFFFF" flexDirection="column">
  <ng-template let-item="item" >
    <FlexBoxLayout class="item-detail" flexWrap="wrap" height="20">
      <Label class="message-buffer"></Label>
      <Label [nsRouterLink]="['/item', item.id]"  class="comment-text"
      [text]=item.message textWrap="true" (tap)="setid(item.id)"></Label>
      <Label class="comment-user" [text]=item.user></Label>
      <Label  class="comment-hearts" [text]=item.hearts.length (tap)="likeComment()"></Label>
  </FlexBoxLayout>
  </ng-template>
</ListView>


  <StackLayout orientation="horizontal" class="inputbar" verticalAlignment="bottom">
    <TextView class="input" #comment></TextView>
    <button class="submitButton" type="button" text="submit" name="button" (tap)="submit(comment.text)"></button>
  </StackLayout>
</FlexBoxLayout>